<html>
  <head>
    <title>Sample HTML app</title>
  </head>
  <body>
    <h1>Hello World!</h1>
    <div>
      <a href="index.html">home</a>
      <a href= "2.html">table</a>
      <a href="3.html">images</a>
      <a href="4.html">more</a>
    </div>
    <div>
            Click the images for documentation, or go <a href="https://www.w3schools.com/default.asp">here</a> for a run-down of other
            languages.
            <table border="2px">
                <tr>
                    <td>HTML5</td>
                    <td>Node.js</td>
                    <td>React</td>
                </tr>
                <tr>
                    <td>
                         <a href="https://www.w3schools.com/html/html5_intro.asp"> <img src="html5.png" width="100px" height="100px"> </a>
                     </td>
                    <td>
                        <a href="https://www.w3schools.com/js/default.asp"><img src="node.png" width="100px" height="100px">  </a>
                    </td>
                    <td>
                        <a href="https://reactjs.org/"> <img src="react.png" width="100px" height="100px"></a>
                    </td>
                </tr>
            </table>
        </div>
  </body>
</html>
